$our-orange: #ff6600;
$our-blue: #003153;
$our-black: #000000;

.header{
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 999;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    position: fixed;
    display: flex;
    justify-content: space-between;
    color: white;
    width: 100%;
    background-color: $our-black;
    opacity: 0;
    animation-name: fadein;
    animation-duration: .5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
      -webkit-transition: background-color 1000ms linear;
      -ms-transition: background-color 1000ms linear;
      transition: background-color 1000ms linear;
  }
  .header .menu {
    padding: 15px 50px 0px 50px;
    text-align: right;
    width: auto;
    
  }
  .header .menu Button{ 
    padding: 0px 0px 0px 50px;
      
  
  }
  .header .menu Button a {
  
  
  
  }
  .header .menu Button a:hover {
    background: -webkit-linear-gradient(135deg,$our-blue 0,#0d2f46 50%,$our-orange 50%,#F16436 100%);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;
    }
  .header .logoname{ 
    width: fit-content;
    text-decoration:none; 
    font-style: normal;
    padding: 20px 0px 0px 20px;
  }
  .header .logoname .s{
    margin-left: -16px;
  }
  .header .logoname .v{
    margin-left: -16px;
  }
  .header .logoname .t{
    margin-left: -16px;
    opacity: 0;
    animation-name: letter;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .header .logoname .a{
    margin-left: -16px;
    opacity: 0;
    animation-name: letter;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .header .logoname .c{
    margin-left: -16px;
    opacity: 0;
    animation-name: letter;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .header .logoname .k{
    margin-left: -16px;
    opacity: 0;
    animation-name: letter;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .header .logoname .i{
    margin-left: -16px;
    opacity: 0;
    animation-name: letter;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .header .logoname .e{
    margin-left: -16px;
    opacity: 0;
    animation-name: letter;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .header .logoname .w{
    margin-left: -16px;
    opacity: 0;
    animation-name: letter;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }