@media (max-width: 991px) {
  .bar {
    display: none;
  }
  .fakebar {
    display: none;
  }
  .progress {
    display: none;
  }
  .suma{
        display: none;
      }
      .apareca{
        display: block;
      }
    .front{
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
    
    .header .navicon{
      z-index: 999;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
      background-color: white;
      height: auto;
      width: 70px;
      transform: rotate(-90deg);
     
    }
    .header .navicon .center{
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    .header .navicon a{
      font-size: xx-large;
      -webkit-transition:  1000ms linear;
      -ms-transition:  1000ms linear;
      transition:  1000ms linear;
      margin-left: 2px;
    }
    .header .navicon .center .stack{
      
        -webkit-animation: fadeins 2s; /* Safari, Chrome and Opera > 12.1 */
           -moz-animation: fadeins 2s; /* Firefox < 16 */
            -ms-animation: fadeins 2s; /* Internet Explorer */
             -o-animation: fadeins 2s; /* Opera < 12.1 */
                animation: fadeins 2s;
    }
    .header .navicon .center .view{
     
        -webkit-animation: fadeinv 2s; /* Safari, Chrome and Opera > 12.1 */
           -moz-animation: fadeinv 2s; /* Firefox < 16 */
            -ms-animation: fadeinv 2s; /* Internet Explorer */
             -o-animation: fadeinv 2s; /* Opera < 12.1 */
                animation: fadeinv 2s;
    }
    .collapso{
      position: absolute;
      top:0px;
      left: 0;
      bottom: 0;
      right: 0px;
      background-color: black;
      width: auto;
      height: 150vh;
      -webkit-transition:  200ms linear;
    -ms-transition:  200ms linear;
    transition:  200ms linear;
    }
    .collapso .menu{     
      display: block;
      text-align: left;
      font-family: 'Roboto', sans-serif;      
      height: auto;    
    }
    .collapso .menu img{
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      padding-right: 70px;
      text-align: center;           
    }
    
    .collapso .menu .links{
      display: block;
      left:0;      
      margin-left: -60px;
      padding-top: 15vh;
          
    }
    .collapso .menu .links a{
      font-size: 5vh !important;

    }
    .collapso .menu .info{
      
      font-size: 2vh !important;
      left:0;
      width: 200px;  
      padding-top: 4vh;   
      margin-left: -10px;     
    }
    .collapso .menu .info a{
      font-size: 3vh !important;
    }
    .collapso .menu .w {
      display: block;
      margin-top: 3vh;
      margin-left: -10px;
      margin-right: auto;
    }
    .collapso .menu .w #w{
      
      animation-name: buth;
animation-delay: 2s;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-fill-mode: backwards;
background: #26D366;   
    }
    .collapso .menu .w #t{
      
      animation-name: buth;
animation-delay: 2s;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-fill-mode: backwards;
background: #37AEF3;      
    }
    .collapso .menu .w img{
      position: relative;
      margin-left: 0;
      margin-right: 0;
      padding-right: 0px;
      text-align: center;   
      height: 10vh;
      width:10vh;
      padding: 0;
      margin-left: 10px;
     border-radius:5vh;
    }
    
    .collapso .stackview{
      background-color: white;
      height: 100vh;
      position: absolute;
      right: 0;
      top: 0;
      width: 70px;           
    }
    .collapso .stackview .rotate{
      top:40%;      
    margin: 0;
    position: absolute;    
    -ms-transform: translate(-25%, 50%) rotate(-90deg);
    transform: translate(-37%, 50%) rotate(-90deg);
    }
    .collapso .stackview .rotate a{
      font-size: 50px;

    }
  .front .stack{
    position: relative;    
    top: 38vh;
    padding: 0;
    margin: 0;
    height: 50%;
    width: 100%;
    font-size: 10vh;  
  }
  .front .stack .s{
    display: flex;
    justify-content: center;
    margin-left: -2vh;
  }
  .front .stack .v{
    display: flex;
    justify-content: center;
    margin-left: 14.1vh;
    margin-top: -4vh;
  
  }  
  .front .fdd{
    position: relative;
    top: 15vh;
    padding: 0;
    margin-left: 12vw;
    width: auto;
    display: block;
  }  
  .front .fdd div a{
    font-size: xx-large;
  }
  .front .icon{
    position: relative;
    top: 15vh;
    margin-left: 0px;
  }
  .front .icon #back{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 20vh;
  }
  .front .icon .front{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    height: fit-content;
    padding: 6.2vh 0 0 0;
  }
  .front .icon .front #f{
    height: 7.5vh;
  }

  .footer{
    height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  }
  .foot{
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  }
  .foot .contact{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding: 0px;
  margin-left: 5vw; 
  }
  .foot .contact .logo {
    padding: 0px;
    display: none;
    justify-content: center;
  }
  .foot .contact .card {
    padding: 0px;
    margin-right: 3vw;
  }
  .foot .contact .card img{
    height: 50px;
    border-radius: 30px;
  }
  .foot .contact .card a{
    top: 0;
    padding: 0;
  }
  .foot .contact .card .social{
    margin-left: 0px;
    padding: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
  .foot .contact .card .social a{
    margin: 0px;
  }
  .foot .contact .card .social .w{
    padding: 0px 0px 0 0;
    margin-top: 0px;
    margin-right: 0vw;
  margin-bottom: 0px;
  margin-left: 0px;
  }
  .foot .contact .card .social .w a{
    margin-left: 10px;
  }
  .foot .contact .logo img{
    width: auto;
    height: auto;
    max-width: 150px;
    max-height: 150px;
  }
  
  .foot .follow{
    text-align: center;
  padding: 0px 0 30px 0;
  width: 100%;
  }
  
  .foot .follow .line{
    width: 100%;
  display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 0 0;
    
  }
  .foot .follow .line a{
    margin: 0px;
    padding: 10px 0px 10px 10px;
  }
  
  .foot .follow .line #be:hover{
    height: 50px;
    background: #0057FF;
  }
  .foot .follow .line #face:hover{
    height: 50px;
    background: #0B84EE;
  }
  .foot .follow .line #git:hover{
    height: 50px;
    background: #161B22;
  }
  .foot .follow .line #insta:hover{
    height: 50px;
    background: #D7407F;
  }
  .foot .follow .line #in:hover{
    height: 50px;
    background: #0A66C2;
  }
 
  
  .footer .rodape{
    vertical-align: bottom;
    width: 100%;  
    display: flex;
    background: #161B22;
    justify-content: space-between;
  }
  .footer .rodape .made{
    padding: 10px;
  }

  //// fade in view
@keyframes fadeinv {
  from { opacity: 0;
    margin-top: 4vh;
  }
  to   { opacity: 1;
    margin-top: -4vh;
   }
}

/* Firefox < 16 */
@-moz-keyframes fadeinv {
  from { opacity: 0;
    margin-top: 4vh;
  }
  to   { opacity: 1;
    margin-top: -4vh;
   }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinv {
  from { opacity: 0;
    margin-top:4vh;
  }
  to   { opacity: 1;
    margin-top: -4vh;
   }
}
}