$our-orange: #ff6600;
$our-blue: #003153;
$our-black: #000000;
@import "./fonts/fonts.scss";
@import "./animations/animations.scss";
@import "./deviceglobal.scss";

html,
body {  
  height: 100%;
  background-color: #000000;
  margin: 0;
  font-family: "Roboto";
  color: white;
}
.apareca{
  display: none;
}
.sv{
  font-family: "Icon Font", "Arial", sans-serif !important;
  color: white;
}
.stack{
  font-family: "Icon Font", "Arial", sans-serif !important;
  color:$our-orange;
}
.view{
  font-family: "Icon Font", "Arial", sans-serif !important;
  color:$our-blue;
  box-shadow: yellow;
}

a {
  font-family: "Custom Font", "Arial", sans-serif ;
  color: white;
  font-size: x-large;
  text-decoration: none;
  
}
a:hover, a:focus, a:active {
  background-color: transparent;
  text-decoration: none; 
}
//Scroll bar 
::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
background-color: black;

}
::-webkit-scrollbar
{
width: 6px;

background-color: black;
}
::-webkit-scrollbar-thumb
{
background:black;
background:linear-gradient(135deg,$our-blue 0,#0d2f46 50%,$our-orange 50%,#F16436 100%);
}
//Scroll bar
//Scroll button
.fakebar{
  position: fixed;
  display: inline-block;
  margin: 0;
  align-items: center;
justify-content: center;
  right: -3%;
  top: 50%;
  -ms-transform:  rotate(-90deg);
  transform:  rotate(-90deg);
}
.progress{
  margin-top: 10px;
  margin-right: 10px;
  align-items: center;
  float: left;
  display: block;
  width: 65px;
  height: 2px;

}
.bar {
  display: inline-block;

}
.bar a{
  color: black;
  text-decoration: none;
}
//Scroll button


.header{
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 999;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  position: fixed;
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100%;
  background-color: $our-black;
  opacity: 0;
  animation-name: fadein;
  animation-duration: .5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}
.header .menu {
  padding: 15px 50px 0px 50px;
  text-align: right;
  width: auto;
  
}
.header .menu Button{ 
  padding: 0px 0px 0px 50px;
    

}
.header .menu Button a {



}
.header .menu Button a:hover {
  background: -webkit-linear-gradient(135deg,$our-blue 0,#0d2f46 50%,$our-orange 50%,#F16436 100%);
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent;
  }
.header .logoname{ 
  width: fit-content;
  text-decoration:none; 
  font-style: normal;
  padding: 20px 0px 0px 20px;
}
.header .logoname .s{
  margin-left: -16px;
}
.header .logoname .v{
  margin-left: -16px;
}
.header .logoname .t{
  margin-left: -16px;
  opacity: 0;
  animation-name: letter;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.header .logoname .a{
  margin-left: -16px;
  opacity: 0;
  animation-name: letter;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.header .logoname .c{
  margin-left: -16px;
  opacity: 0;
  animation-name: letter;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.header .logoname .k{
  margin-left: -16px;
  opacity: 0;
  animation-name: letter;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.header .logoname .i{
  margin-left: -16px;
  opacity: 0;
  animation-name: letter;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.header .logoname .e{
  margin-left: -16px;
  opacity: 0;
  animation-name: letter;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.header .logoname .w{
  margin-left: -16px;
  opacity: 0;
  animation-name: letter;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

//front
.front{
  width: 100%;
  height: 100vh;
  background-size: 100% auto;
}

.front .stack{
  padding-top: 25vh;
  margin-left: 16vw;
  height: 20vw;  
  width: 50%;
  font-size: 10vw;

}
.front .stack .s{
  display: flex;
  -webkit-animation: fadeins 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeins 2s; /* Firefox < 16 */
        -ms-animation: fadeins 2s; /* Internet Explorer */
         -o-animation: fadeins 2s; /* Opera < 12.1 */
            animation: fadeins 2s;

}
.front .stack .v{
  display: flex;
  margin-top: -8%;
  margin-left: 26.4%;
  -webkit-animation: fadeinv 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeinv 2s; /* Firefox < 16 */
        -ms-animation: fadeinv 2s; /* Internet Explorer */
         -o-animation: fadeinv 2s; /* Opera < 12.1 */
            animation: fadeinv 2s;
}
.front .stack .sv .o{
  color: white;
  animation-name: acolor;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: infinite;

}
.front .stack .sv .b{
  color: white;
  animation-name: vcolor;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

.front .fdd{
  display: inline-block;
  margin-top: 0vh;
  margin-left: 16vw;
}
.front .fdd .f{
  opacity: 0;
  animation-name: fadeinf;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.front .fdd .d{
  opacity: 0;
  animation-name: fadeinf;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
.front .fdd .m{
  opacity: 0;
  animation-name: fadeinf;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.front .fdd div a{
  font-size: xx-large;
}
.front .icon{
  position: absolute;  
  top: 25vh;
  height: 20vw;
  width: 33.11vw;
  margin-left: 57vw;
}
.front .icon #back{  
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}
.front .icon .front{
  position: relative;
    width: 7.5vw;  
  height: 7.5vw;
  margin: 6.25vw 0 0 12.81vw;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;       
  
}
.front .icon .front #f{ 
  image-rendering: auto;
  animation-name: spin;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  }

.footer{
  height: 40vh;
  width: 100%;
  background-color: black;
  color: white;
}
.foot{
  display: flex;
  height: 100%;
  width: 100%;
}
.foot .contact{
  margin: 30px;
  padding: 10px;
  display: flex;
  width: 60%;
  font-family: 'Roboto', sans-serif;  
}
.foot .contact .logo {
  padding: 0px 20px 0px 0px;
}
.foot .contact .card {
  padding: 10px 0px 0px 20px;
}
.foot .contact .card img{
  height: 50px;
  border-radius: 30px;
}
.foot .contact .card a{
  top: -10px;
  padding: 5px;
}
.foot .contact .card .social{
  margin-bottom: -40px;
  display: flex;
}
.foot .contact .card .social a{
  margin-top: -6px;
}
.foot .contact .card .social .w{
  margin-top: -15px;
  padding-left: 30px;
}

.foot .contact .card .social .w #w{
animation-name: buth;
animation-delay: 1s;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-fill-mode: backwards;
background: #26D366;
}
.foot .contact .card .social .w #t{
  animation-name: buth;
animation-delay: 1s;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-fill-mode: backwards;
background: #37AEF3;
}

.foot .contact .card .social .w #w:hover{
  
  background: #26D366;
}
.foot .contact .card .social .w #t:hover{
  
  background: #37AEF3;
}
.foot .contact .logo img{
  width: auto;
  height: auto;
  max-width: 150px;
  max-height: 150px;
}

.foot .follow{
  padding: 45px 0 0 10px;
  width: 40%;
  font-family: 'Roboto', sans-serif;
}

.foot .follow .line{
  display: flex;
  padding: 10px 0 0 0;
  margin-left: -15px;
  
}
.foot .follow .line a{
  margin: 10px;
  
}
.foot .follow .line #be{
  background: #0057FF;
  animation-name: buth2;
animation-delay: 0s;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-fill-mode: forwards;
}
.foot .follow .line #face{
  background: #0B84EE;
  animation-name: buth2;
  animation-delay: 1.2s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;  
}
.foot .follow .line #git{
  background: #161B22;
  animation-name: buth2;
  animation-delay: 0.8s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
.foot .follow .line #insta{
  background: #D7407F;
  animation-name: buth2;
  animation-delay: 0.4s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
.foot .follow .line #in{
  background: #0A66C2;
  animation-name: buth2;
  animation-delay: 1.6s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.foot .follow .line #be:hover{
  height: 60px;
  width: auto;
  background: #0057FF;
}
.foot .follow .line #face:hover{
  height: 60px;
  width: auto;
  background: #0B84EE;
}
.foot .follow .line #git:hover{
  height: 60px;
  width: auto;
  background: #161B22;
}
.foot .follow .line #insta:hover{
  height: 60px;
  width: auto;
  background: #D7407F;
}
.foot .follow .line #in:hover{
  height: 60px;
  width: auto;
  background: #0A66C2;
}

.foot .follow .line img{
  height: 50px;
  border-radius: 30px;
  
}

.footer .rodape{
  vertical-align: bottom;
  width: 100%;
  background: #161B22;
  display: flex;
  justify-content: space-between;
}
.footer .rodape .made{
  padding: 10px;
}
.principal{

  width: 100%;
  height: 2000px;
  background: linear-gradient(45deg, $our-orange 30%, $our-blue 90%);
}

.viewpage{
  font-family: "Roboto", "Arial", sans-serif ;
  color:$our-blue;
  display: flex;
 padding-left: 50px;
  height: 100vh;
  width: auto;
}

.viewpage .text{
 width: 50%;
 margin-top: 10vh;
}
.viewpage .text .tag{
  color: #131A1F ;
  font-size: 1.4vw;
  transition: all 1s ease-in-out;  
 }

 .viewpage .text .title{
  font-size: 3vw;
  width: 90%;
  transition: all 0.5s ease-in-out;
 }
.noshow{
  opacity: 0;
  margin-top: 50px;
  margin-left: 50px;
}
.notv{
  opacity: 0;
  margin-top: 50px;
}

 .viewpage .text .cont{
  width:80%;
  font-size: 1.4vw;
  transition: all 0.5s ease-in-out;
  text-align: justify;
 }


 .viewpage .gif{
  position: relative;
  width: 50%;
  padding: 0;

 } 
 .viewpage .gif .rotator{
  margin-top: -28% !important;
  animation: rotation 1s infinite linear;
  width: 100px;
 } 
 
 .viewpage .gif .realgif{
  width: 80.6%;
  height: 80.6%;
  box-sizing: border-box;
  border-radius: 0px 0px 30px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: translate(-50%, -55%);
  background-repeat: no-repeat;
  background-size:  100% auto;
 } 
 .viewpage .gif .above{
   position: absolute;
   float: right;
   top: 80vh;
   transform: translate(-10%, -130%);
   right: 10%;
   font-size: 300%;   
 }
 .viewpage .gif img{
  width:150px;
  height: 150px;   
}
 
.viewpage .gif .white{
  position: absolute;
  top: 80vh;
  right: 0;  
  transform: translate(-104%, -420%);
  width: 0;
  height: 0;
  border-bottom: 20px solid #9b9b9b;
  border-right: 2.31vw solid transparent;
  transition-property: all;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
  transition-timing-function: ease-in-out;

}
.viewpage .gif .orange{
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  position: relative;
  
  top: 80vh;
  left: -30%;
  transform: translate(-50%, -80%);
  width: 250%;
  height: 80px;  
  transition: all 0.5s ease-in-out;

}
.range{
  width: 0 !important;
  
 border-bottom: 0 !important;
}
.load{
  position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    
  background-color: #ff6600;
}

.fview{
  background-color: black;
  height: fit-content;
  display: block;
  justify-content: center;
  text-align: center;

}
.fview .sv{
  
  font-size: 5vw;
  background: -webkit-linear-gradient(#373435, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fview .icons{
  display: flex;
  margin-top: 3vh;
  justify-content: center;

}
.fview .icons img{
  margin: 2%;
  width: 8%;
  height: fit-content;
}
.fview .text{
  display: block;
  font-size: 1.6vw;
  justify-content: center;
  text-align: center;
  margin: 5%;
  width: auto;
  color: white;
  height: fit-content;
  font-family: 'Roboto', sans-serif;  
}

.fview .icons #icon{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: -10%;
  width: 40%;
  height: auto;
  filter:   drop-shadow(5px 5px 100px gray) grayscale(100%) contrast(175%) brightness(150%);
  text-align: center;
  opacity: 10%;
}

.stackdesc{
  display: flex;
  justify-content: center;
  align-items: center;

}
.clientes{
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  display: block;
  text-align: center;
  height: fit-content;
  width: 100%;
  padding-top: 30px;
  background:linear-gradient(45deg, $our-orange 25%, black 25%);;
}
.clientes .orange{
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);

  position: absolute;
  margin-top: -30px;
  background: linear-gradient(135deg, $our-blue 30%, transparent 30%);
  height: 80px;
  width: 100%;
}
.clientes .blue{
  position: absolute;
  margin-top: 0px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  background: linear-gradient(135deg, $our-orange 70%, $our-blue 70%);
  height: 5px;
  width: 100%;
}
.clientes .sv{
  float: left;
  margin-left: 20px;
  position: relative;
  text-shadow: 2px 2px 4px #000000;
  font-size: 200%;
}
.clientes .clogo{
  padding: 30px;
}
.clientes .clogo img{
  margin-top: -30px;
  position: relative;
  margin-left: 20px;
  -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray; /* IE 6-9 */
  padding-right: 40px;
}
.clientes .clogo img:hover{
  -webkit-filter: none;
   -moz-filter: none;
   -ms-filter: none;
   filter: none;
}